.findpwd-container {
    width: 80%;

    margin: 0 auto;
    min-width: 755px;
    height: 100%;
    min-height: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.findpwd-container .findpwd-article {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    padding-left: 10px;
    max-width: 464px;
}

.findpwd-title {
    font-size: 2.2em;
    color: #222222;
    font-weight: bold;
    padding: 20px 0 10px;
}

.findpwd-subtitle {
    font-size: 1.6em;
    margin: 10px 0;
    font-weight: 600;
}
input:placeholder-shown + label {
    color: #aaa;
    font-size: 14px;
    top: 15px;
}
input:focus + label,
label {
    color: #888888;
    font-size: 1em;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all 0.2s ease;
}
.findpwd-subtitle > span {
    height: 48px;
    line-height: 48px;
    vertical-align: bottom;
    color: #444444;
    display: inline-block;
    width: 80px;
}
.findpwd-subtitle > input {
    background: transparent;
    border: none;
    border-bottom: solid 1px #bbb;
    padding: 30px 0px 5px 0px;
    font-size: 1.3em;
    width: 80%;
}
@media screen and (max-width: 1365px) {
    .findpwd-subtitle > input {
        padding: 10px 0px 5px 0px;
        width: 100%;
    }
}
.findpwd-btn-find {
    margin: 60px auto 20px;
}
.findpwd-findMenu {
    float: right;
}
.findpwd-findMenu > button {
    color: #999999;
}
#findid-findid {
    border-right: 1px solid #bbb;
}
.findpwd-findMenu > button:hover {
    color: black;
}
.findpwd-btn-find > input {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    margin: 15px 0 15px;
    border-radius: 10px;
    color: white;
    background: #b17c5c;
    font-weight: bold;
    font-size: 1em;
}
.findpwd-btn-find > input:hover {
    color: white;
    background: #c46a32;
}
